.projectDetailsCard{
    position: relative;
    width: 400px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 10px;
    /* background: #fff; */
    /* background-color: rgba(0, 0, 0, 0.089); */
    transition:0.5s ;
   
  }
  /* .projectDetailsCard:hover{
    height: 450px;
  } */
  .projectDetailsCard .lines{
    position: absolute;
    inset:0;
    background: #000; 
    overflow: hidden;
  }
  .projectDetailsCard .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 200px;
    background: linear-gradient(transparent,  #45f3ff, #45f3ff, #45f3ff ,transparent);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate{
    0%{
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
  .projectDetailsCard .lines::after{
    content: '';
    position: absolute;
    inset: 5px;
    background:  #537895;
    /* z-index: 2; */
    
  }
   .projectDetailsCard .icons{
    position: absolute;
    z-index: 2;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px; 
    left: 10px;
    
  } 

 

 @media screen and (max-width: 420px) {
    
  .projectDetailsCard{
    position: relative;
    width: 300px;
    height: 180px;
    transition:0.5s ;
  };

 
}