/* skill css */

#skills-section{
    width: 100%;
    height: auto;
    padding: 80px 13%;
    background-color: rgba(0, 0, 0, 0.089);
}
.header{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.header h2{
    margin-bottom: -5px;
   
}
.header h2 span{
    color:rgba(252,103,101,1);
    
}
.skill-menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
}
.skill-menu .skill-bar .info{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.skill-bar .bar span:hover{
    background: linear-gradient(transparent,  #45f3ff, #45f3ff, #45f3ff ,transparent);
}
.skill-bar .info .percent{
    font-weight: bold;
}
.skill-bar .bar{
    width: 100%;
    height: 10px;
    position: relative;
    background-color: rgba(0,0,0,0.199);
    border-radius: 25px;
    margin-top: 5px;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    /* background-color: #e74d06; */
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,
   rgba(252,103,101,1)100% );
    border-radius: 25px;

}


/* html ... */
.skill-bar .bar .html{
    width: 95%;
    animation: html 3s;
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
/* javascript ... */
.skill-bar .bar .javascript{
    width: 70%;
    animation: javascript 3s;
}
@keyframes javascript{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
/* tailwind... */
.skill-bar .bar .tailwind{
    width: 90%;
    animation: tailwind 3s;
}
@keyframes tailwind{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
/* materialui ... */
.skill-bar .bar .materialui{
    width: 70%;
    animation: materialui 3s;
}
@keyframes materialui{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
/* firebase ... */
.skill-bar .bar .firebase{
    width: 65%;
    animation: firebase 3s;
}
@keyframes firebase{
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}
/* nextjs ... */
.skill-bar .bar .nextjs{
    width: 50%;
    animation: nextjs 3s;
}
@keyframes nextjs{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
/* vercel ... */
.skill-bar .bar .vercel{
    width: 80%;
    animation: vercel 3s;
}
@keyframes vercel{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
/* css ... */
.skill-bar .bar .css{
    width: 95%;
    animation: css 3s;
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
/* bootstrap ... */
.skill-bar .bar .bootstrap{
    width: 90%;
    animation: bootstrap 3s;
}
@keyframes bootstrap{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
/* react ... */
.skill-bar .bar .react{
    width: 85%;
    animation: react 3s;
}
@keyframes react{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
/* mongodb ... */
.skill-bar .bar .mongodb{
    width: 60%;
    animation: mongodb 3s;
}
@keyframes mongodb{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
/* nodejs ... */
.skill-bar .bar .nodejs{
    width: 60%;
    animation: nodejs 3s;
}
@keyframes nodejs{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
/* github ... */
.skill-bar .bar .github{
    width: 85%;
    animation: github 3s;
}
@keyframes github{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
/* figma ... */
.skill-bar .bar .figma{
    width: 70%;
    animation: figma 3s;
}
@keyframes figma{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

